<mat-toolbar color="primary">
  <div class="main">
    <!-- ハンバーガーメニュー -->
    <button type="button" mat-icon-button *ngIf="(isHandset$ | async)" (click)="toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <span class="logo" (click)="signOut()">
      <mat-icon class="header-icon">
        note
      </mat-icon>
      <span class="title">3Memo</span>
    </span>
    <!-- ログインアカウント情報(ログインしている時のみ表示される) -->
    <!-- ログインしているアカウントの情報を表示したい #15 -->
    <div class="right-icon" *ngIf="authenticationService.getUser() | async">
      <button mat-button class="account-link" [matMenuTriggerFor]="menu">
        <img class="thumbnail" *ngIf="currentUser.photoURL" src="{{currentUser.photoURL}}" />
        {{currentUser.displayName}}<mat-icon>expand_more
        </mat-icon>
      </button>
      <!-- メニュー -->
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="signOut()">
          <mat-icon>exit_to_app</mat-icon>ログアウト
        </button>
      </mat-menu>
    </div>
  </div>
</mat-toolbar>
