mat-toolbar {
  height: 64px;

  .main {
    display: flex;
    align-items: center;
    width: 100%;

    .title {
      margin-left: 12px;
      font-size: 21px;
    }

    .header-icon {
      font-size: 24px;
    }

    // ログアウトボタンを右寄せにする
    .right-icon {
      margin: 0 0 0 auto;
    }
  }
}
