mat-toolbar {
  height: 64px;

  .main {
    display: flex;
    align-items: center;
    width: 100%;

    .logo {
      cursor: pointer;
      display: flex;
      align-items: center;
    }

    .title {
      margin-left: 12px;
      font-size: 21px;
    }

    .header-icon {
      font-size: 24px;
    }

    .right-icon {
      align-items: baseline;
      cursor: pointer;
      display: flex;
      margin: 0 0 0 auto;

      .thumbnail {
        border-radius: 12px;
        width: 24px;
        height: 24px;
      }
    }
  }
}
