.wrapper {
  padding: 0 30px;

  table {
    width: 100%;
  }

  th.mat-sort-header-sorted {
    color: black;
  }

  .mat-column-star {
    text-align: right;
  }

  tr.folder-element-row:hover {
    background: #777;
  }

  tr.folder-element-row:active {
    background: #efefef;
  }
}
