<app-header></app-header>
<div class="wrapper">
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title class="login-title">ログイン</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div>ログイン</div>
      <div>メールアドレスでログイン</div>
      <form (ngSubmit)="onSubmit()" class="login-form" [formGroup]="loginFormGroup">
        <mat-form-field>
          <input matInput placeholder="メールアドレス" id="email" formControlName="email" required>
          <mat-error *ngIf="emailControl.invalid">{{getErrorMessageToEmail()}}</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input [type]="hide ? 'password' : 'text'" matInput placeholder="パスワード" id="password"
            formControlName="password" required>
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
          <mat-error *ngIf="passwordControl.invalid">{{getErrorMessageToPassword()}}</mat-error>
        </mat-form-field>
        <button type="submit" class="login-button" mat-raised-button [disabled]="!loginFormGroup.valid"
          color="primary">メールアドレスでログイン</button>
        <mat-error *ngIf="apiErrorMessage" class="apiErrorMessage">{{apiErrorMessage}}</mat-error>
      </form>
    </mat-card-content>
  </mat-card>
</div>
<div class="sign-up">アカウントをお持ちでない方は <a routerLink="/sign-up">アカウント登録</a></div>
