.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15%;

  .login-card {
    width: 500px;

    .sns-icon {
      font-size: 20px;
      position: absolute;
      left: 15px;
      top: 25%;
    }

    .facebook {
      color: #FFF;
      background-color: #3b5998;
      border-color: #3b5998;
      font-weight: bold;
      width: 100%;
      margin-bottom: 10px;
    }

    .twitter {
      color: #FFF;
      background-color: #00acee;
      border-color: #00acee;
      font-weight: bold;
      width: 100%;
      margin-bottom: 10px;
    }

    .email-login-title {
      color: #3f51b5;
    }
  }

  .login-form {
    display: flex;
    flex-direction: column;

    .login-button {
      margin-top: 20px;
    }
  }

  .login-title {
    font-weight: bold;
    font-size: 22px;
    color: #3f51b5;
  }

  .apiErrorMessage {
    margin: 10px;
  }

}

.sign-up {
  color: #9daab6;
  font-size: 12px;
  margin-top: 8px;
  text-align: center;

  a {
    color: #3f51b5;
    text-decoration: underline;
  }
}
