.header {
  padding: 20px 0;

  .title {
    font-size: 20px;
  }

  .add-link {
    cursor: pointer;
    color: #3f51b5;
    margin-right: 30px;
    display: flex;
    justify-content: flex-end;
    vertical-align: middle;

    &:hover,
    &:active {
      opacity: 0.5;
    }

    .icon {
      margin-right: 5px;
    }
  }
}
