.list-wrapper {
  padding: 20px;
  margin-top: 80px;

  .memo-item {
    margin: 5px 0;
  }

  .list-item {
    .title {
      font-weight: 500;
    }

    .info {
      display: flex;
      line-height: 12px;

      .date {
        font-size: 12px;
      }

      .description {
        font-size: 12px;
        overflow: hidden;
        margin-left: 10px;
        white-space: nowrap;
        width: 150px;
        text-overflow: ellipsis;
      }
    }
  }

  .right-icon {
    margin: 0 0 0 auto;
  }
}
