<app-header></app-header>
<div class="wrapper">
  <mat-card class="sign-up-card">
    <mat-card-header>
      <mat-card-title class="sign-up-title">3Memoに登録する</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form (ngSubmit)="onSubmit()" class="sign-up-form" [formGroup]="signUpFormGroup">
        <mat-form-field>
          <input matInput placeholder="ニックネーム" id="userName" formControlName="userName" required>
          <mat-error *ngIf="userNameControl.invalid">{{getErrorMessageToUserName()}}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="メールアドレス" id="email" formControlName="email" required>
          <mat-error *ngIf="emailControl.invalid">{{getErrorMessageToEmail()}}</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input [type]="hide ? 'password' : 'text'" matInput placeholder="パスワード" id="password"
            formControlName="password" required>
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
          <mat-error *ngIf="passwordControl.invalid">{{getErrorMessageToPassword()}}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input [type]="hideConfirm ? 'password' : 'text'" matInput placeholder="確認用パスワード" id="confirmPassword"
            formControlName="confirmPassword" required>
          <mat-icon matSuffix (click)="hideConfirm = !hideConfirm">{{hideConfirm ? 'visibility' : 'visibility_off'}}
          </mat-icon>
          <mat-error *ngIf="confirmPasswordControl.invalid">{{getErrorMessageToConfirmPassword()}}</mat-error>
        </mat-form-field>
        <button type="submit" class="sign-up-button" mat-raised-button [disabled]="!signUpFormGroup.valid"
          color="primary">登録</button>
        <mat-error *ngIf="apiErrorMessage" class="apiErrorMessage">{{apiErrorMessage}}</mat-error>
      </form>
      <div class="social-signup-title">ソーシャルアカウントで登録</div>
      <div class="social-group">
        <button (click)="signInWithTwitter()" class="twitter" mat-raised-button>
          <mat-icon class="sns-icon fab fa-twitter"></mat-icon>Twitter
        </button>
        <button (click)="signInWithFacebook()" class="facebook" mat-raised-button>
          <mat-icon class="sns-icon fab fa-facebook-f"></mat-icon>Facebook
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<div class="sign-in">すでにアカウントをお持ちの方は <a routerLink="/login">ログイン</a></div>
