<mat-nav-list class="side-menu">
  <!-- ログインしているアカウントの情報を表示したい #15 -->
  <div>
    <button mat-button class="account-link" [matMenuTriggerFor]="menu">
      {{currentUser.displayName}}
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
  </div>
  <a mat-list-item (click)="gotoUpsert(true)">
    <div class="menu-item">
      <mat-icon class="menu-icon">add_circle</mat-icon>
      <div>新規メモ</div>
    </div>
  </a>
  <a mat-list-item (click)="gotoUpsert()">
    <div class="menu-item">
      <mat-icon class="menu-icon">note</mat-icon>
      <div>すべてのメモ</div>
    </div>
  </a>
  <a mat-list-item (click)="drawerClose()" [routerLink]="'./folder-list'" routerLinkActive="active">
    <div class="menu-item">
      <mat-icon class="menu-icon">folder</mat-icon>
      <div>フォルダ</div>
    </div>
  </a>
</mat-nav-list>
