<mat-nav-list class="side-menu">
  <a mat-list-item (click)="gotoUpsert(true)">
    <div class="menu-item">
      <mat-icon class="menu-icon">add_circle</mat-icon>
      <div>新規メモ</div>
    </div>
  </a>
  <a mat-list-item (click)="gotoUpsert()">
    <div class="menu-item">
      <mat-icon class="menu-icon">note</mat-icon>
      <div>すべてのメモ</div>
    </div>
  </a>
  <a mat-list-item [routerLink]="'./folder-list'" routerLinkActive="active">
    <div class="menu-item">
      <mat-icon class="menu-icon">folder</mat-icon>
      <div>フォルダ</div>
    </div>
  </a>
</mat-nav-list>
