<mat-nav-list class="side-menu">
  <a mat-list-item [routerLink]="'./create'">
    <div class="menu-item">
      <mat-icon class="menu-icon">create</mat-icon>
      <div>新規メモ</div>
    </div>
  </a>
  <a mat-list-item [routerLink]="'./list'">
    <div class="menu-item">
      <mat-icon class="menu-icon">note</mat-icon>
      <div>すべてのメモ</div>
    </div>
  </a>
  <a mat-list-item>
    <div class="menu-item">
      <mat-icon class="menu-icon">folder</mat-icon>
      <div>フォルダ</div>
    </div>
  </a>
</mat-nav-list>
