mat-toolbar {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
  height: 64px;

  .main {
    display: flex;
    align-items: center;
    width: 100%;

    .logo {
      cursor: pointer;
      display: flex;
      align-items: center;
    }

    .title {
      margin-left: 12px;
      font-size: 21px;
    }

    .header-icon {
      font-size: 24px;
    }

    .right-icon {
      align-items: baseline;
      cursor: pointer;
      display: flex;
      margin: 0 0 0 auto;

      .thumbnail {
        border-radius: 12px;
        width: 24px;
        height: 24px;
      }
    }
  }
}

.wrapper {
  .header-wrapper {
    background: #3f51b5;
    color: white;
    height: 250px;
    text-align: center;
    padding-top: 60px;

    .main-title {
      margin: 15px 5px;
      font-size: 56px;
      font-weight: 300;
    }

    .sub-title {
      font-size: 22px;
      font-weight: 300;
      text-align: center;
    }

    .start-button {
      margin: 60px 0;
    }
  }
}
