<form class="example-form" (ngSubmit)="onSubmit(createNgForm)" [formGroup]="createFormGroup" #createNgForm="ngForm">
  <mat-form-field>
    <mat-label>フォルダ</mat-label>
    <mat-select formControlName="folder">
      <mat-option>フォルダなし</mat-option>
      <mat-option *ngFor="let folder of folderList" [value]="folder.id">
        {{folder.title}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <!-- タイトル欄 -->
  <mat-form-field class="example-full-width">
    <input matInput class="title" placeholder="タイトル" formControlName="title" />
  </mat-form-field>
  <!-- 詳細欄 -->
  <mat-form-field class="example-full-width">
    <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="10" cdkAutosizeMaxRows="30" placeholder="本文"
      formControlName="description"></textarea>
  </mat-form-field>
  <button type="submit" class="login-button" mat-raised-button [disabled]="!createFormGroup.valid"
    color="primary">Create</button>
</form>
