<!-- ヘッダー -->
<app-header></app-header>

<mat-sidenav-container class="container">
  <!-- サイドメニュー -->
  <mat-sidenav mode="side" class="side-menu" opened>
    <mat-nav-list>
      <a mat-list-item [routerLink]="'./create'"> 新規メモ </a>
      <a mat-list-item [routerLink]="'./list'"> すべてのメモ </a>
      <a mat-list-item> フォルダ </a>
    </mat-nav-list>
  </mat-sidenav>
  <!-- メイン コンテンツ -->
  <mat-sidenav-content class="main-contents">
    <!-- サブサイドメニュー -->
    <mat-sidenav-container class="#">
      <!-- サブサイドメニュー（サイドメニュー） -->
      <mat-sidenav mode="side" class="sub-side-menu" opened>
        <app-list></app-list>
      </mat-sidenav>
      <!-- サブサイドメニュー（メインコンテンツ） -->
      <mat-sidenav-content class="#">
        <!-- <app-create></app-create> -->
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </mat-sidenav-content>
</mat-sidenav-container>
