<!-- ヘッダー -->
<app-header></app-header>

<mat-sidenav-container class="container">
  <!-- サイドメニュー -->
  <mat-sidenav mode="side" class="side-menu" opened>
    <app-main-side-menu></app-main-side-menu>
  </mat-sidenav>
  <!-- メイン コンテンツ -->
  <mat-sidenav-content class="main-contents">
    <!-- サブサイドメニュー -->
    <mat-sidenav-container class="#">
      <!-- サブサイドメニュー（サイドメニュー） -->
      <mat-sidenav mode="side" class="sub-side-menu" opened>
        <!-- メモ一覧 -->
        <app-list></app-list>
      </mat-sidenav>
      <!-- サブサイドメニュー（メインコンテンツ） -->
      <mat-sidenav-content class="#">
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </mat-sidenav-content>
</mat-sidenav-container>
